/* * {
  box-sizing: border-box;
  border: 1px solid black;
} */
.topNav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 3px;
}

li {
  margin: 1px 5px;
}
.homeLinks {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}
